:root {
    --violeta: #9c27b0;
    --violetaoscuro: #891190;
    --amarillo: #ffce00;
    --oscuro: rgb(233,287,2);
    --blanco: #fff;
    --negro: #000;

    --fuenteprincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
      background-color: var(--violeta);
      font-size: 1.6rem;
      line-height: 1.5;
  }

  p {
      font-size: 1.8rem;
      font-family: Arial, Helvetica, sans-serif;
      color: var(--blanco);
  }

  a {
      text-decoration: none;
  }

  img {
      max-width: 100%;
  }

  .contenedor {
      max-width: 120rem;
      margin: 0 auto;
  }

  h1, h2, h3 {
      text-align: center;
      color: var(--amarillo);
      font-family: var(--fuenteprincipal);
  }

  h1 {
      font-size: 4rem;
  }

  h2 {
      font-size: 3.2rem;
  }

  h3 {
      font-size: 2.4rem;
  }

  /**esto es el header **/

  .header {
      display: flex;
      justify-content: center;
  }

  .header__logo {
      margin: 3rem 0;
  }

  .navegacion {
      background-color: var(--violetaoscuro);
      padding: 1rem 0;
      display: flex;
      justify-content: center;
gap: 2rem;
  }

  .navegacion__enlace {
      font-family: var(--fuenteprincipal);
      color: var(--blanco);
      font-size: 3rem;
      margin-right: 2rem;
  }

  .navegacion__enlace:last-of-type {
  margin-right: 0;
  }

  .navegacion__enlace--activo,
.navegacion__enlace--activo:hover{
color: var(--amarillo);
}
  

.footer {
background-color: var(--violetaoscuro);
padding: 1rem 0;
margin-top: 2rem;
  }

.footer__Texto, p {
text-align: center;
font-family: var(--fuenteprincipal);
font-size: 2.2rem;
}